.icon-bar{
    background-color: #91aa99;
    overflow: hidden;
}
.fa-fa-envelope {
    float: right; /*направление самой иконки-->*/
    display: block;
    padding: 10x 15px;
    text-decoration: none;
    font-size: 10px;
    width: 20%;

}
h1 {
    font-size: 32pt;
    text-align: center;
    color: #319774;
}
a {text-align: center;
}
.greeting {
    text-align: center;
    font-family: cursive;
}
.name-elements{
text-align: center;
color: #334D44;
font-family: cursive;
}