$border-line: 1px solid;
/*палитра
.div{
   color:#323234;
   color: #45504B;
   color: #57726B;
   color: #A8B680;
   color: #DDDEB9;
}*/
body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.header{
    background-image: url();
}
.nav-bar{
    background-color: #104a24a7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
img{
    width: 70px;
    height: 70px;
    margin: 0;
}
.block-all{
    display: flex;
}
.block{
    border: $border-line red;
    width: 100%;
    background-color: #A8B680;
}
/*h1 {
    font-size: 32pt;
    text-align: center;
    color: #319774;
}
.subtitle {
    font-size: 16pt;
    text-align: left;
    color: #123d2e;
}
a {text-align: center;
}
.greeting {
    text-align: center;
    font-size: 24pt;
}
.name-elements{
text-align: center;
color: #334D44;
font-family: cursive;
}
.picture {
    text-align: center;
}
table{margin: auto;}
th{color: blueviolet;}
.compo{color: rgb(255, 3, 242);}
dt{color: brown;}
.total{color: chocolate;}*/